---
import BaseLayout from '../layouts/BaseLayout.astro'
import Lead from '../components/Lead.astro'
import Figure from '../components/Figure.astro'

const title: string = 'Lost in the Digital Wardrobe'
const description: string =
  'Zwischen broken links und verirrten Codes, steht unsere verzweifelte Studentin vor ihrem virtuellen Kleiderschrank. Ein tragisches Schicksal! Aber keine Sorge, wir finden den richtigen Pfad!'
const visible: boolean = false
---

<BaseLayout title={title} description={description} visible={visible}>
  <h1>{title}</h1>

  <Lead text={description} />

  <Figure imagePath='/src/images/gt1191-404.png' caption='Caption' alt='alt' />

  <p>
    Liebe Besucherin, lieber Besucher, wir entschuldigen uns für das digitale
    Chaos. Unsere Studentin hat ihre Socken verloren, ihre Styles sind veraltet,
    und ihre CSS-Dateien sind wild durcheinandergeraten. Aber wir versichern
    dir: Wir sind auf der Suche nach dem perfekten Outfit für diese Seite!
  </p>

  <p>
    In der Zwischenzeit kast du gerne unsere anderen Seiten erkunden –
    vielleicht findest du dort den passenden Link? Und wenn nicht, dann genieße
    einfach das Mysterium der 404-Welt. Vielleicht versteckt sich ja irgendwo
    ein Einhorn hinter einem 404-Fehler.
  </p>

  <p>Viel Spaß beim Stöbern!</p>
</BaseLayout>
