---
interface Props {
  type?: 'button' | 'link'
  label: string
  href?: string
  primary?: boolean
  small?: boolean
  listener?: string
  newWindow?: boolean
  ariaLabel?: string
}

const {
  type = 'button',
  label,
  href,
  primary = false,
  small = false,
  listener,
  newWindow = false,
  ariaLabel,
  ...rest
}: Props = Astro.props
---

{
  type === 'link' && href ? (
    newWindow === true ? (
      <a
        href={href}
        class:list={['button', { primary: primary === true }]}
        target='_blank'
        rel='noopener noreferrer'
        aria-label={ariaLabel || label}
        {...rest}
      >
        {label}
      </a>
    ) : (
      <a
        href={href}
        class:list={['button', { primary: primary === true }]}
        aria-label={ariaLabel || label}
        {...rest}
      >
        {label}
      </a>
    )
  ) : (
    <button
      type='button'
      class:list={['button', { primary: primary }, { small: small }]}
      data-listener={listener}
      aria-label={ariaLabel || label}
      {...rest}
    >
      {label}
    </button>
  )
}

<style>
  .button {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    background-color: var(--clr-button);
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);

    padding-block: var(--sp-xs);
    padding-inline: var(--sp);
    line-height: 1;
    text-decoration: none;
    border-radius: var(--radius);
    box-shadow: 0 0.2em 1em transparent;
    transform: translateY(0);
    transition: all var(--transition-button);

    &:focus-visible {
      outline: 3px solid var(--clr-focus);
      outline-offset: 2px;
      box-shadow:
        0 0.2em 1em var(--clr-primary-hover),
        0 0.5em 0.5em -0.6em var(--clr-primary);
    }

    &:hover {
      background-color: var(--clr-button-hover);
      border-color: var(--clr-txt);
      box-shadow:
        0 0.2em 1em var(--clr-primary-hover),
        0 0.5em 0.5em -0.6em var(--clr-primary);
      transform: translateY(-0.1em);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0.1em 0.5em var(--clr-primary);
    }

    &.small {
      font-size: var(--fs-xs);
      padding-block: 0.3em;
      padding-inline: var(--sp-xs);
      line-height: 1;
    }

    &.primary {
      background-color: var(--clr-primary);
      color: var(--clr-inverse);
      border-color: var(--clr-primary);
    }
  }

  .button + .button {
    margin-inline-start: var(--sp-xs);
  }
</style>
