---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import ArticleCard from '../../components/ArticleCard.astro'
import Lead from '../../components/Lead.astro'

const articles = await getCollection('tutorials', ({ data }) => {
  return import.meta.env.PROD ? data.isDraft !== true : true
})
articles.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

const title: string = 'Tutorials zur Erstellung von Websites'
const description: string =
  'Du hast eine konkrete Idee, weißt aber nicht, wie du sie umsetzen sollst? Hier findest du Tutorials aus dem Seminar GT 1191.'
const visible: boolean = true
---

<BaseLayout
  title={title}
  description={description}
  visible={visible}
  layout='wide'
>
  <h1>{title}</h1>

  <Lead text={description} />

  {
    articles.length > 0 ? (
      <section class='articles'>
        {articles.map((article) => (
          <ArticleCard article={article} />
        ))}
      </section>
    ) : (
      <p>No posts yet.</p>
    )
  }
</BaseLayout>
