---
import { getCollection } from 'astro:content'
import BaseLayout from '../../../layouts/BaseLayout.astro'
import Tags from '../../../components/Tags.astro'
import Lead from '../../../components/Lead.astro'

const posts = await getCollection('tutorials')
const tags = [...new Set(posts.flatMap((post) => post.data.tags))] as string[]

export const title = 'Tags'
export const description = 'Tags'
---

<BaseLayout title={title} description={description}>
  <h1>{title}</h1>

  <Lead text={description} />

  <Tags tags={tags} />
</BaseLayout>
