---
import '@fontsource-variable/open-sans'
import '@fontsource-variable/domine'
import '@fontsource-variable/jetbrains-mono'

import '../styles/main.css'

import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import TableOfContent from '@components/TableOfContents.astro'
import Aside from '@components/Aside.astro'
import Metadata from '@components/Metadata.astro'

type Layout = 'wide' | 'standard'

const { headings, layout = 'standard' as Layout, redirect } = Astro.props
const { title, description, pubDate, toc, aside, cover, ogType } =
  Astro.props.frontmatter || Astro.props

const asideConfig = aside ? aside : false
---

<!doctype html>
<html lang='de'>
  <head>
    <Metadata
      title={title}
      description={description}
      image={cover}
      pubDate={pubDate}
      redirect={redirect}
      type={ogType}
    />
    <script>
      import '../scripts/view-transitions.ts'
    </script>
  </head>
  <body id='top'>
    <Header />

    <main id='main'>
      <div class:list={['stage', { 'with-articles': asideConfig }]}>
        <div
          class:list={[
            'content',
            { wide: layout === 'wide', medium: layout === 'medium' }
          ]}
        >
          <slot />
        </div>

        {toc && headings && <TableOfContent headings={headings} />}
        {asideConfig && <Aside tutorials={asideConfig.tutorials} />}
      </div>

      <slot name='page-footer' />
    </main>

    <Footer />
  </body>
</html>
